<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" type="text/css" href="css/tree-control.css">
</head>
<body>

<script src="bower_components/angular/angular.js"></script>
<script src="angular-tree-control.js"></script>

<div ng-app="app">
    <div ng-controller="demo">
        <button ng-click="italicTemplate()">Show Italic Template</button>

        <treecontrol class="tree-classic"
                     tree-model="dataForTheTree">
            label: {{node.name}} ({{node.age}})
        </treecontrol>

        <div ng-if="showItalic">
            <h3>Italic Bold Template </h3>

            <treecontrol class="tree-classic"
                         tree-model="dataForTheTree">
                label: {{node.name}} ({{node.age}})
            </treecontrol>
        </div>
    </div>

    <script type="text/ng-template" id="treeControl.tpl.html">
        <ul {{options.ulClass}}>
            <li ng-repeat="node in node.{{options.nodeChildren}} | filter:filterExpression:filterComparator {{options.orderBy}}"
                ng-class="headClass(node)"
                {{options.liClass}}
                set-node-to-data>
                <i class="tree-branch-head" ng-class="iBranchClass()" ng-click="selectNodeHead(node)"></i>
                <i class="tree-leaf-head {{options.iLeafClass}}"></i>

                <div class="tree-label {{options.labelClass}}" ng-class="[selectedClass(), unselectableClass()]"
                     ng-click="selectNodeLabel(node)" tree-transclude></div>
                <treeitem ng-if="nodeExpanded()"></treeitem>
            </li>
        </ul>
    </script>

    <script type="text/ng-template" id="treeControlItalic.tpl.html">
        <ul {{options.ulClass}}>
            <li ng-repeat="node in node.{{options.nodeChildren}} | filter:filterExpression:filterComparator {{options.orderBy}}"
                ng-class="headClass(node)"
                {{options.liClass}}
                set-node-to-data>
                <i class="tree-branch-head" ng-class="iBranchClass()" ng-click="selectNodeHead(node)"></i>
                <i class="tree-leaf-head {{options.iLeafClass}}"></i>

                <i>
                    <b>
                        <div class="tree-label {{options.labelClass}}" ng-class="[selectedClass(), unselectableClass()]"
                             ng-click="selectNodeLabel(node)" tree-transclude></div>
                    </b>
                </i>

                <treeitem ng-show="nodeExpanded()"></treeitem>

            </li>
        </ul>
    </script>
</div>

<script>
    angular.module('app', ['treeControl']).controller('demo', function ($scope, $templateCache) {
        $scope.dataForTheTree =
                [
                    {
                        "name": "Joe", "age": "21", "children": [
                        {"name": "Smith", "age": "42", "children": []},
                        {
                            "name": "Gary", "age": "21", "children": [
                            {
                                "name": "Jenifer", "age": "23", "children": [
                                {"name": "Dani", "age": "32", "children": []},
                                {"name": "Max", "age": "34", "children": []}
                            ]
                            }
                        ]
                        }
                    ]
                    },
                    {"name": "Albert", "age": "33", "children": []},
                    {"name": "Ron", "age": "29", "children": []}
                ];

        $scope.italicTemplate = function () {
            $templateCache.put('treeControl.tpl.html', $templateCache.get('treeControlItalic.tpl.html'));

            $scope.showItalic = true;
        }
    });
</script>

</body>
</html>